.container{
    display: flex;
    background-color: #d7eefcdf; 
    margin:8%;
    margin-right:12%;
    border-radius:20px;
    margin-left:10%;
    
}
.image-container{
    background-size: auto;
    height: 70%;
}
.form-container{ 
   width:30%;
   margin-right:20%;
   padding:15px;
   margin-left: 2%;
}
.firstname-1{
    display:flex;
    flex: 1; 
}
.firstname-1 .icons{
    color: #00A9E5;
    font-size:18px; 
    
    
}
.firstname input{   
    margin-left: 8%;   
    padding: 10px;   
    width: 400px;
    border-radius:3px;  
    border-style: none; 
    box-shadow: rgba(38, 37, 37, 0.2) 0px 2px 8px 0px;
    color: #969797;
    margin-top: -15%;
    border-radius: 2px;
   }
.firstname input:focus{
    outline: none;
    box-shadow: none;
}
.lastname-1{
    display:flex;
    flex: 1; 
}
.lastname-1 .icons{
    color: #00A9E5;
    margin-top:7%;
    font-size:18px;
}
.lastname input{   
    margin-left: 8%;   
    padding: 10px;   
    width: 400px; 
    border-radius:3px;  
    border-style: none; 
    box-shadow: rgba(38, 37, 37, 0.2) 0px 2px 8px 0px;  
    color: #969797;
    margin-top: 3.5%;
    border-radius: 2px;
   }   
.lastname input:focus{
    outline: none;
    box-shadow: none;
}
.username1{
    display:flex;
    flex: 1;
}
.username1 .icons{
    color: #00A9E5;
    margin-top:8%;
    font-size:18px;
}

.username1 input{   
    margin-left: 8%;   
    padding: 10px;   
    width: 400px;
    border-radius:3px;  
    border-style: none; 
    box-shadow: rgba(38, 37, 37, 0.2) 0px 2px 8px 0px;
    color: #969797;
    margin-top: 4%;
    margin-bottom: 3.5%;
    border-radius: 2px;
   }
.username-1 input:focus{
    outline: none;
    box-shadow: none;
}
.level-1{
    display:flex;
    flex: 1; 
}
.level-1 .icons{
    color: #00A9E5;
    margin-top:4.5%; 
}
.dropdown {   
    margin-left: 7.8%;   
    padding: 2px;   
    width: 426px;
    border-style: none;  
    border: none;
    content: '" "'; 
    border-radius: 1px;
    font-size: 13px;
   }


.confirmpassword input{   
     margin-left: 8.2%;   
     padding: 10px;   
     width: 400px;
     border-radius:3px;  
     border-style: none; 
     box-shadow: rgba(38, 37, 37, 0.2) 0px 2px 8px 0px; 
     color: #969797;
     margin-top: 3.5%;
     border-radius: 2px;
    }
.confirmpassword-1{
    display:flex;
    flex: 1;
}
.confirmpassword-1 .icons{
    color: #00A9E5;
    margin-top:8%;
    margin-bottom:2%;
}

.confirmpassword input:focus{
    outline: none;
    box-shadow: none;
}
.password-1{
    display:flex;
    flex: 1;
   
}

.password-1 .icons{
    color: #00A9E5;
    margin-top: 10%;
    font-size:15px;
}

.password-1 input{   
    margin-left: 7.8%; 
    margin-top:2.6%; 
    padding: 9px; 
    border-style: none; 
    border-radius:2px;  
    box-shadow: rgba(38, 37, 37, 0.2) 0px 2px 8px 0px;  
    width: 438px;
    height: 16px;
    border-radius: 2px;
}

.password-1 input:focus{
    outline: none;
    box-shadow: none;
}
.signupbtn{   
     
    margin-left: 22%; 
    margin-top: 5%;
}
.signupbtn button{   
     width: 350px;  
     padding: 10px; 
     margin-top:6%;
     margin-left: 7%;
     color: white;  
     background-color: #00A9E5; 
     border: solid transparent;  
     border-radius: 30px;  
     font-size: 18px;
    }
.login{
    text-align: right;
    margin-top: 5%;
    margin-right:-14%;
    margin-bottom: -5%;
}

.login span Link{
    color: #00A9E5;
    margin-right: 5%;
}
.headings{
    /* margin-top:-8%; */
    font-size:25px;
     text-align: right;
     color: #00A9E5;
     margin-top:5%;
     margin-right:-10%;
     /* font-family:sans-serif; */
}

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}