.home-container-1{
    background-color: white;
    width:20%;
    height: auto;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}
.home-container-1 .logo img{
  margin-left: 25%;
  margin-top: 20%;

}
.home-container-1 h4{
    color:#00A9E5;
    text-align: center;
} 
.home-container-1 .icon{
    color: #00A9E5;
    margin-top:3%;
    padding-left:10px;
}
.plus{
    border:2px solid #00A9E5;
    border-radius:10px;
    padding: 50px;
    font-size:30px;
    margin-left: 25%;
    margin-top:14%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.icon p{
    color: black;
    margin-left:32%;
    margin-top:-15%;
}
.home-container-1 .smile{
   margin-left: 45%;
   font-size:30px;
    color: rgb(247, 227, 9);
}
.main-container{
    background-color: rgb(246, 255, 255);
    display:flex ;
    /* color:#E4F2FB; */
}
.main-container input{
    margin-top:5%;
    /* margin-left:15%; */
    /* padding: 10px;
    width: 100%;
    border-radius:30px; */
}
.main-container .home-container-1 .prof{
    /* margin-left:-50%; */
    /* float: right; */
}
.profile{
    font-size:40px;
    color: #00A9E5;
    border-radius:50%;
    background-color: #FFFFFF;
   
    
}
.se_pro{
    display: flex;
    /* width: 100vw; */
    /* background-color: red; */
    margin-bottom: 3%;
}
.se_pro input{
    padding: 10px;
    width: 40vw;
    border-radius:30px;
    margin-left: 25%


}
.se_pro .prof{
   float: right;
   margin-left: 37%;
   margin-top: 2.5%;
}

.options{
    display: flex; 
    /* margin-top:5%; */
    margin-left:15%;
    gap: 5rem;
   
    /* justify-content: space-evenly; */

}
.options .topics, .level, .subject{
    /* background-color: red; */
    /* padding:14px;  */
    width:250px ;
}
