.practical_container{
    background-color: #dcf0fc;
    margin-left: 5%;
    width: 100%;
}
.all_practicals{
    display: flex;
}
.see_all{
    display: inline;
    /* float: right; */
    margin-left: 87%;
    color:#00A9E5;
}
.see_all:hover{
    color:#e8500a;

}

.arrow{
    margin-top: -10%;
}

.one{
    background-color: rgb(241, 250, 252);
    color: rgb(3, 50, 68);
    padding: 3px;
    width: 150px;
    /* height:150px ; */
    text-align: center;
    /* margin-top: 2%; */
    margin: 1% 4% 1% 4%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(153, 151, 151);
    transition: transform 500ms ease;

}
.one:hover{
    transform: scale(1.1);

}
.one p{
    /* margin: 0; */
}
.picture{
    width: 100%;
    border-radius: 10px;

}
.about_practical{
    margin-top: 4%;
    color: #5C5C5C;
    margin-left: 4%;
}
.practical_title{
    font-size: 12px;
    margin: 0;

}
.practical_description{
    font-size: 9px;
}