.instructions{
    color: rgb(31, 179, 225);
    text-align: center;
}
.list{
    /* background-color:#e8f6fe; */
}
.appbar{
    background-color:#e8f6fe;
    color: rgb(31, 179, 225);
    font-family: sans-serif;
    font-style:bold;
    /* padding:10px; */
}
.listtext{
    background-color: chartreuse;
}
.buttons{
    margin-left:30%;
    margin-top:2%;
    margin-bottom: 2%;
}
.record{
    margin-left:5%;
    padding:15px;
    width:20%;
    background-color:rgb(31, 179, 225) ;
    border-style: none;
    color: whitesmoke;
    border-radius:3px;
    transition: transform 500ms ease;

}
.clear{
    margin-left:5%;
    border-radius:3px;
    padding:15px;
    width:20%;
    background-color:rgb(90, 93, 94) ;
    border-style: none;
    color: whitesmoke;
    transition: transform 500ms ease;

}
.clear:hover, .record:hover{
    transform: scale(1.1);
}
/* .interface{
    background-color: black;
    box-sizing: border-box;

} */
.header{
    display: flex; 
}
.timer{
    float: right;
    margin-left:150%;
    color: black;
    margin-top:-2%;
}
.heading1{
    margin-top:8%;
}
.home{
    margin-left:15%;
    margin-top:7%;
    padding:2px;
    background-color: rgb(255, 255, 255);
    /* font-size:50px; */
    border-radius:50%;
}
.main{
    height: 85vh;
    background-color: rgb(165, 229, 238);
}

.flask{
    font-size:30px;
    margin-left:10%;
}
.filter{
    font-size:30px;
    margin-left:16%;
}
.micrscope{
    font-size:30px;
    margin-left:16%;
}
.inst{
    background-color: rgb(248, 250, 250);
    padding: 3%;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
}
.inst:hover{
    background-color: rgb(231, 246, 247);
    cursor: grab;
}