/* .recordBtn{
    color:white;
    background-color: #00A9E5 ;
    
} */

.form {
    background-color: #00A9E5;
    width: 560px;
    padding: 20px;
    border-radius:5px;
    
}

#alert-dialog-description input{
    margin-left: 13%;
    margin-bottom: 8%;
    text-align: left;  
    padding: 12px;  
    padding-bottom: 20px; 
    width: 400px;
    border-radius:3px;  
    border-style: none; 
    box-shadow: rgba(38, 37, 37, 0.2) 0px 2px 8px 0px;
    color: #969797;
    border-radius: 2px;

}

#alert-dialog-description h4{
    color: white;
    margin-left: 13%;
    font-size: 17px;
    margin-bottom: 2%;
}

#alert-dialog-title{
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5%;
    
}

.save-btn{  
    width: 40%;  
    padding: 10px; 
    border-radius: 10px;  
    font-size: 15px;
}